@model Notify.Models.Pedido

@{
    ViewBag.Title = "Esborra";
}

<h2>Vols esborrar la teva comanda?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Esborra" class="btn btn-default" /> |
            @Html.ActionLink("Torna", "Index")
        </div>
    }
</div>
