@model Notify.Models.Linea

@{
    ViewBag.Title = "Linies";
}

<h2>Afegeix producte a la linea</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.codigo, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.DropDownList("codigo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })

        </div>

    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @id = "quantitat" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <b id="total">
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _ _ _ _
    </b>
    <br></br>

    <div class="form-group">
        @Html.LabelFor(model => model.preu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <b id="totalLinea"></b>
            <script>

                    $("#quantitat")
                        .keyup(function () {
                            var value = $(this).val();
                            $("#totalLinea").text(value);
                        })
                        .keyup();
     

            </script>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Torna", "Index",new { idPedido = ViewBag.idPedido })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
