@model Notify.Models.Linea

@{
    ViewBag.Title = "Esborrar linia";
}

<h2>Segur que vols esborrar permanenment aquesta linia?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borra" class="btn btn-default" /> |
            @Html.ActionLink("Torna", "Index")
        </div>
    }
</div>
