@model Notify.Models.Linea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Linea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recibo_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recibo_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recibo_codi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recibo_codi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_linea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
