@model IEnumerable<Notify.Models.Linea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recibo_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recibo_codi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recibo_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recibo_codi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_linea }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_linea }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_linea })
        </td>
    </tr>
}

</table>
