@model IEnumerable<Notify.Models.Linea>

@{
    ViewBag.Title = "Linies";
}

<h2>Linies de la comanda</h2>

<p>
    @Html.ActionLink("Afegeix una altra linea", "Create", new { idPedido = ViewBag.idPedido }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.producto.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Edita", "Edit", new { id=item.id_linea }) |
            @Html.ActionLink("Esborra", "Delete", new { id=item.id_linea })
        </td>
    </tr>
}

</table>
