@model Notify.Models.Producto

@{
    ViewBag.Title = "Borrar";
}


<h3>Estas segur de que vols borrar aquest producte permanentment?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtt)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Esborra" class="btn btn-default" 
            </div>
        </div>
    <div class="form-actions no-color">
        @Html.ActionLink("Torna a la llista", "Index")
    </div>
    }
    </div>
