@model IEnumerable<Notify.Models.Producto>

@{
    ViewBag.Title = "Productes";
}

<h2>Llista de productos</h2>

<p>
    @Html.ActionLink("Afegeix un nou producte", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beguda)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beguda)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.codigo }) |
                @Html.ActionLink("Details", "Details", new { id = item.codigo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.codigo })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Torna", "~/Views/Home/Index")